.shop-item.single .shop-info > h3 {
	color: #c3bfbf;
	margin-bottom: 17px;
}

.rating {
	display: block;
}
.rating li {
	display: inline-block;
	margin-right: 4px;
}
.rating li i {
	display: inline-block;
	color: #fd9f26;
	font-size: 16px;
}
.shop-item{
	margin-bottom: 50px;
}

.shop-item.single .shop-info > .rating {
	float: left;
}
.shop-item.single .shop-info .review_count {
	float: left;
	color: #777777;
	font-size: 14px;
	margin-left: 20px;
	font-weight: 500;
	margin-top: 2px;
}
.shop-item.single .shop-info > .price-num {
	display: block;
	width: 100%;
	color: #f67d4a;
	font-size: 18px;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 34px;
}
.shop-item.single .shop-info p {
	margin-bottom: 40px;
}
.handle-counter input {
	width: 45px;
	height: 50px;
	background-color: #202120;
	border:0;
	text-align: center;
	font-weight: 500;
	float: left;
	color: #898888;
}
.lft-cntrs {
	float: left;
	width: 35px;
	height: 50px;
	background-color: #202120;
	border-left: 1px solid #2c2c2c;
}
.lft-cntrs .btn {
	padding: 0;
	opacity: 1;
	width: 100%;
	background-color: inherit;
	position: relative;
	outline: none;
	cursor: pointer;
	color: #898888;
}
.lft-cntrs .counter-minus.btn {
	top: -5px;
}
.lft-cntrs .counter-plus.btn {
	top: 5px;
}
.lft-cntrs .btn.focus, .lft-cntrs .btn:focus {
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	-ms-box-shadow: inherit;
	-o-box-shadow: inherit;
	box-shadow: inherit;
	outline: none;
}
.shop-item.single .shop-info .btn-style2 {
	border:0;
	height: 50px;
	line-height: 50px;
	padding: 0 35px;
	margin-left: 30px;
	background-color: #202120;
	color: #898888;
	transition: all .3s;
}
.shop-item.single .shop-info .btn-style2:hover{
	background: #f67d4a;
	color: #fff;
}

.shop-item.single .shop-info .btn-style2:focus{
	outline: none;
}

/* ======================== COMMENTS FORM SECTION ======================= */

.review-form .comment-form {
	padding-top: 28px;
}
.review-form .comment-form > h3 {
	color: #222222;
	font-size: 36px;
	margin-bottom: 30px;
}
.review-form .form-field {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}
.review-form .form-field input,
.review-form .form-field textarea {
	width: 100%;
	height: 60px;
	color: #aaaaaa;
	font-size: 14px;
	border:1px solid #262525;
	border-radius: 5px;
	background-color: #262525;
}
.review-form .form-field input {
	height: 60px;
	padding: 0 38px;
}
.review-form .form-field textarea {
	height: 186px;
	padding: 25px 38px;
	resize: none;
}
.review-form .form-submit {
	margin-top: 19px;
}
.review-form .form-submit .btn-style2 {
	border:0;
}


.review-form .form-submit .btn-style2:focus{
	outline: none;
}